@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2em;
  line-height: 1.1;
}

h4 {
  font-size: 1.5em;
  line-height: 1.1;
}
body {
  text-align: center;
}

.ball {
  display: block;
  border-radius: 50%;
  bottom: 10px;
}

.ball-static {
  background: rgb(140, 214, 165);
}

.ball-error-active {
  background: rgba(246, 29, 29, 0.875);
}

.ball-error {
  background: rgba(246, 29, 29, 0.39);
}

.ball-animation {
  -webki-animation: bounce 3.5s infinite;
  -moz-animation: bounce 3.5s infinite;
  -ms-animation: bounce 3.5s infinite;
  -o-animation: bounce 3.5s infinite;
  animation: bounce 3.5s infinite;
}

.ball-error-animation {
  -webki-animation: bounceError 3.5s infinite;
  -moz-animation: bounceError 3.5s infinite;
  -ms-animation: bounceError 3.5s infinite;
  -o-animation: bounceError 3.5s infinite;
  animation: bounceError 3.5s infinite;
}

@keyframes bounce {
  0% {
    background: rgba(140, 214, 165, 0.025);
  }
  50% {
    background: rgb(140, 214, 165);
  }
  100% {
    background: rgba(140, 214, 165, 0.025);
  }
}
@keyframes bounceError {
  0% {
    background: rgba(246, 29, 29, 0.39);
  }
  50% {
    background: rgba(246, 29, 29, 0.875);
  }
  100% {
    background: rgba(246, 29, 29, 0.39);
  }
}

.rotateY-180 {
  transform: rotateY(180deg);
}

button path {
  stroke: white;
}

.Toastify__toast-container {
  text-align: left;
}
